doctype html
html(ng-app)
	head
		meta(charset='utf-8')
		meta(name='description', content='Un site complet pour retrouver toutes les ressources présentées durant les Dévelop\'Heure')
		meta(name=viewport, content='width=device-width, initial-scale=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Site de la Dévelop'Heure
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	body

		block content

	script(src='/javascripts/jquery-1.11.0.js')
	script(src='/javascripts/bootstrap.js')
	script(src='/javascripts/angular-1.2.14.js')
	script(src='/javascripts/myJqueryCode.js')
